.tetromino-panel {
  margin-top: 1rem;
}

.tetromino-panel .card-header {
  background-color: #0000ff;
  color: white;
  text-align: center;
}

.tetromino-panel .btn {
  font-weight: bold;
  width: 80px;
}

.rotate,
.drop,
.start-stop {
  margin: 1rem 0;
}

.start-stop {
  display: flex;
  justify-content: space-around;
}
